<div class='homeHeader'>
	Sierra McLawhorn
</div>
	
<hr>

<div class='home-leftcolumn columns'>

  	<% if current_user!= nil && current_user.username == 'sierramclawhorn' %>
		<%= link_to 'New Post', new_post_path %>
 	 <br><br>
	<% end %>

	<div class='home-post'>
		<div class='titleTxt'>
			<%= link_to @posts.last.title, post_path(@posts.last.id) %>
		</div>
		<div class='dateTxt'>
			<%= @posts.last.date %>
		</div>
		<div class='bodyTxt'>
			<%= raw @posts.last.body %>
		</div>
	</div><br>

	<div class='index-link'>
		<%= link_to 'more posts', posts_path %>
	</div>

</div>


<div class='aboutFooter'>
<hr>
	<p class='aboutTxt'>These are the thoughts of a person who enjoys the following: imagining animals with potato bodies; building IKEA furniture; submerging hands in bowls of flour; finding grammar mistakes on Chinese menus; Benjamin Franklin</p>
<hr>
</div>



