<div class='banner'>
  	<a href='/'><%= image_tag 'icon-sierra.png', class: 'bannerImg' %></a>		
</div>

<% if current_user!= nil && current_user.username == 'sierramclawhorn' %>
	<%= link_to 'New Post', new_post_path %>
  <br><br>
<% end %>

<div class='posts'>
	<% @posts.reverse_each do |post| %>
		<div class='titleTxt'>
			<%= link_to post.title, post_path(post.id) %>
		</div>
		<div class='dateTxt'>
			<%= post.date %>
		</div>
		<div class='bodyTxt'>
			<%= raw post.body %>
		</div>
		<br>
		<hr>
		<br>
	<% end %>
</div>