<!DOCTYPE html>
<html>
  <head>
    <title>Sierra Writes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class='banner'>
  		<a href='/'><%= image_tag 'icon-sierra.png', class: 'bannerImg' %></a>		
  	</div>
    <%= yield %>
  </body>
</html>
